.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 320px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
     margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;

}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
    background-color: #e5d0f8;
}

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #fff	;
}

.username {
	font-size: 22px;
	font-weight: 700;
	color: #505050;
	padding: 4px 8px;
}

.tag {
	font-size: 22px;
	font-weight: 700;
	color: #5c5c5c;

}

.location {
	font-size: 22px;
	font-weight: 700;
	color: #505050;
}

.stats {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.stats li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 20px 0;
    background-color: #bfe4f7;
}



.label {
	font-size: 14px;
	font-weight: 400;
	color: #5b5c6c;

}

.quantity {
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}