.friend {
  display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  background-color: #ffffff;
  }
  
  .avatarImg {
    width: 72px;
	  height: 100%;
	  background-color: #ffffff;
	  border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  }
  
  .isOnline {
    display: block;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-left: 40px;
  }
  
  .isOffline {
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 40px;
  }