.transactionHistory {
    font-size: 18px;
    width: 480px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
   
  
  }
  
  .transactionHistory thead {
    background-color: rgb(255, 200, 243);
    color: rgb(255, 255, 255);
  }
  
  .transactionHistory td,
  .transactionHistory th {
    padding: 20px;
    text-transform: capitalize;
  }
  
  .transactionHistory tr:nth-child(2n) {
    background-color: rgb(133, 133, 133);
    color: white;
  }
